<div class="col-md-4 col-sm-6">
    <div class="thumbnail" id="service-<%= service.id %>">
        <img src="<%= service.image %>">
        <div class="caption">
            <h4><%= service.name %></h4>
        </div>
        <p>
            <a href="/services/<%= service.id %>" class="btn btn-primary">More Info</a>
        </p>
    </div>
</div>