<% provide(:title, 'Edit Service') %>
<% provide(:button_text, 'Edit Service') %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit Service</h1>
        <div style="width: 30%; margin: 25px auto;">
            <%= render 'form' %>
            <a href="/services">Go Back</a>
        </div>
    </div>
</div>