<% provide(:title, 'New Review') %>
<% provide(:button_text, 'Submit my review') %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">New Review</h1>
        <div style="width: 30%; margin: 25px auto;">
        	<%= render 'form' %>
            <%= link_to "Go Back", service_path(@service) %>
        </div>
    </div>
</div>